MONGO_URI=mongodb://localhost:27017/bakery
PORT=5000

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Business
UPI_ID=yourname@okaxis
BUSINESS_NAME=Harsh Cake Zone
FRONTEND_URL=http://localhost:3000